@page
@model WebApplication4_Razor.Pages.BookList.IndexModel
@{ }
<div class="row">
    <div><h6>Time Left:60 seconds</h6></div>
    <div class="col-12 border-bottom">
        <h2 class="text-danger">Claim Your Free Trail Class</h2>
    </div>
   <div class="col-9"> <h4>Class Schedule</h4></div>
   <div class="col-3"> <h4>Free Seats Left:7</h4></div>
</div>

<div class="table table-bordered table-striped">
    <table id="tbldata" class="table table-bordered">
        <thead>
            <tr class="table-secondary">

                <th>Time</th>
                <th>Date</th>
                <th>Availabilitiy</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ClassSchedules)
            {
            <tr>
                <th>@item.Date</th>
                <th>@item.Time</th>
                <th>@item.Availabilitiy</th>
                <th><button asp-action="AddData(@item.Id)" >Book Now</button></th>
            </tr>

            }
        </tbody>
    </table>
</div>
@*@section Scripts
    {
    <script src="~/js/student.js"></script>
    }*@